@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "testfont";
	src: url("./HelveticaNeueLTPro-53-Extended.woff2") format("woff2");
	font-weight: normal;
}
@font-face {
	font-family: "pstart";
	src: url("./PressStart2P-Regular.ttf") format("truetype");
	font-weight: normal;
}
